In [13]:
### Import the packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
df1 = pd.read_csv('pima-indians-diabetes-2.csv')

In [15]:
df1.head(25)

    Preg  Plas  Pres  skin  test  mass   pedi  age  class
0      6   148    72    35     0  33.6  0.627   50      1
1      1    85    66    29     0  26.6  0.351   31      0
2      8   183    64     0     0  23.3  0.672   32      1
3      1    89    66    23    94  28.1  0.167   21      0
4      0   137    40    35   168  43.1  2.288   33      1
5      5   116    74     0     0  25.6  0.201   30      0
6      3    78    50    32    88  31.0  0.248   26      1
7     10   115     0     0     0  35.3  0.134   29      0
8      2   197    70    45   543  30.5  0.158   53      1
9      8   125    96     0     0   0.0  0.232   54      1
10     4   110    92     0     0  37.6  0.191   30      0
11    10   168    74     0     0  38.0  0.537   34      1
12    10   139    80     0     0  27.1  1.441   57      0
13     1   189    60    23   846  30.1  0.398   59      1
14     5   166    72    19   175  25.8  0.587   51      1
15     7   100     0     0     0  30.0  0.484   32      1
16     0   118    84    47   230  45.8  0.551   31      1
17     7   107    74     0     0  29.6  0.254   31      1
18     1   103    30    38    83  43.3  0.183   33      0
19     1   115    70    30    96  34.6  0.529   32      1
20     3   126    88    41   235  39.3  0.704   27      0
21     8    99    84     0     0  35.4  0.388   50      0
22     7   196    90     0     0  39.8  0.451   41      1
23     9   119    80    35     0  29.0  0.263   29      1
24    11   143    94    33   146  36.6  0.254   51      1

In [16]:
df1.shape

(768, 9)

In [17]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Preg    768 non-null    int64
 1   Plas    768 non-null    int64
 2   Pres    768 non-null    int64
 3   skin    768 non-null    int64
 4   test    768 non-null    int64
 5   mass    768 non-null    float64
 6   pedi    768 non-null    float64
 7   age     768 non-null    int64
 8   class   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [18]:
df1.isnull().sum()

Preg     0
Plas     0
Pres     0
skin     0
test     0
mass     0
pedi     0
age      0
class    0
dtype: int64

In [19]:
df1.sample(10)

     Preg  Plas  Pres  skin  test  mass   pedi  age  class
670     6   165    68    26   168  33.6  0.631   49      0
326     1   122    64    32   156  35.1  0.692   30      1
15      7   100     0     0     0  30.0  0.484   32      1
33      6    92    92     0     0  19.9  0.188   28      0
671     1    99    58    10     0  25.4  0.551   21      0
409     1   172    68    49   579  42.4  0.702   28      1
517     7   125    86     0     0  37.6  0.304   51      0
618     9   112    82    24     0  28.2  1.282   50      1
274    13   106    70     0     0  34.2  0.251   52      0
70      2   100    66    20    90  32.9  0.867   28      1

In [20]:
mean2=df1["Pres"].mean()
mean2

69.10546875

In [21]:
# df1["Pres"].replace(to_replace=0,value=mean2,inplace=True)

df1["Pres"].replace(0,mean2,inplace=True)

In [22]:
df1.head(10)

   Preg  Plas       Pres  skin  test  mass   pedi  age  class
0     6   148  72.000000    35     0  33.6  0.627   50      1
1     1    85  66.000000    29     0  26.6  0.351   31      0
2     8   183  64.000000     0     0  23.3  0.672   32      1
3     1    89  66.000000    23    94  28.1  0.167   21      0
4     0   137  40.000000    35   168  43.1  2.288   33      1
5     5   116  74.000000     0     0  25.6  0.201   30      0
6     3    78  50.000000    32    88  31.0  0.248   26      1
7    10   115  69.105469     0     0  35.3  0.134   29      0
8     2   197  70.000000    45   543  30.5  0.158   53      1
9     8   125  96.000000     0     0   0.0  0.232   54      1

In [23]:
df1.duplicated().sum()

0